<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FootMatch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row>
    <ion-col>
      <ion-slides [options]="jugadoresSlides">
        <ion-slide class="goleadores" *ngFor="let item of listGoleadores">
          <div>
            <ion-avatar  [routerLink]="['/tabs/tab1/', item._id]">
              <ion-img [src]="item.foto"></ion-img>
            </ion-avatar>
              <small>{{item.nombre}}</small>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-segment (ionChange)="segmentChange($event)" scrollable="true" [value]="segmentValue">
    <ion-segment-button value="1">
      Partidos
    </ion-segment-button>
    <ion-segment-button value="2">
      Goleadores
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segmentValue === '1'">
    <ion-list>
      <ion-item lines="none" detail="false" *ngFor="let item of listaPartidos">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <p><strong>Partidos</strong></p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-img [src]="item.local[0].escudo"></ion-img>
            </ion-col>
            <ion-col class="vs" size="2">
              <h3><strong>VS</strong></h3>
            </ion-col>
            <ion-col size="5">
              <ion-img [src]="item.visitante[0].escudo"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p><strong>Estadio: </strong>{{item.estadio}}</p>
              <small>{{item.dia.substr(0, 10)}} {{item.hora}}</small>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
  <div class="segment-partidos" *ngIf="segmentValue === '2'">
    <ion-item>
      <ion-label>
        <p><strong>Jugador</strong></p>
      </ion-label>
      <ion-label>
        <p><strong></strong></p>
      </ion-label>
      <ion-label>
        <p><strong>Goles</strong></p>
      </ion-label>
      <ion-label>
        <p><strong>#</strong></p>
      </ion-label>
      <ion-label>
        <p><strong>Equipo</strong></p>
      </ion-label>
    </ion-item>
    <ion-list>
      <ion-item detail="false" *ngFor="let item of listGoleadores">
        <ion-thumbnail slot="start" class="items">
          <ion-avatar>
            <ion-img [src]="item.foto"></ion-img>
          </ion-avatar>
        </ion-thumbnail>
        <ion-label>
          <p><strong>{{item.nombre}} {{item.apellido}}</strong></p>
        </ion-label>
        <ion-label>
          <p>{{item.goles}}</p>
        </ion-label>
        <ion-label>
          <p>{{item.numero}}</p>
        </ion-label>
        <ion-thumbnail slot="end" class="items">
          <ion-avatar>
            <ion-img [src]="item.equipo[0].escudo"></ion-img>
          </ion-avatar>
        </ion-thumbnail>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button routerLink="formulariopartido">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
