<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FootMatch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <div class="content-title">
    <ion-searchbar (ionChange)="search($event)" placeholder="Buscar" animated></ion-searchbar>
  </div>
  <ion-list>
    <ion-item-sliding *ngFor="let item of searchJugadores">
      <ion-item-options side="start">
        <ion-item-option (click)="editar(item._id)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item lines="none" detail="true" [routerLink]="[item._id]">
        <ion-thumbnail slot="start" class="items">
          <ion-avatar>
            <ion-img [src]="item.foto"></ion-img>
          </ion-avatar>
        </ion-thumbnail>
        <ion-label>
          <p><strong>{{item.nombre}} {{item.apellido}}</strong></p>
          <p>{{item.equipo[0].nombre}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="eliminar(item._id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button routerLink="formulario">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
