<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Equipos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<div class="content-title">
  <ion-searchbar (ionChange)="search($event)" placeholder="Buscar" animated></ion-searchbar>
</div>
<ion-list>
  <div *ngFor="let item of searchEquipos">
    <ion-item lines="none" detail="false">
      <ion-thumbnail slot="start" class="items">
      <ion-avatar>
        <ion-img [src]="item.escudo"></ion-img>
      </ion-avatar>
      </ion-thumbnail>
      <ion-label>
        <p><strong>{{item.nombre}}</strong></p>
        <p>{{item.pais}}</p>
      </ion-label>
    </ion-item>
  </div>
</ion-list>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button routerLink="formularioequipo">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
