<ion-header>
  <ion-toolbar>
    <div>
      <ion-buttons>
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Agregar Jugador</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="img"></ion-img>
  </ion-card>
  <form #jugadorForm="ngForm" (ngSubmit)="insertar(jugadorForm)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="9">
          <ion-item >
            <ion-label position="floating">
              <ion-icon name="image-outline"></ion-icon>
              foto
            </ion-label>
            <ion-input type="text" name="foto" (ionChange)="imagen($event)" [(ngModel)]="foto">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="9">
          <ion-item >
            <ion-label position="floating">
              <ion-icon name="person-circle-outline"></ion-icon>
              Nombre
            </ion-label>
            <ion-input type="text" name="nombre" [(ngModel)]="nombre">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="9">
          <ion-item >
            <ion-label position="floating">
              <ion-icon name="person-circle-outline"></ion-icon>
              Apellido
            </ion-label>
            <ion-input type="text" name="apellido" [(ngModel)]="apellido">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4.5">
          <ion-item >
            <ion-label position="floating">
              <ion-icon name="grid-outline"></ion-icon>
                Numero
            </ion-label>
            <ion-input type="number" name="numero" [(ngModel)]="numero">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4.5">
          <ion-item >
            <ion-label position="floating">
              <ion-icon name="football-outline"></ion-icon>
                Goles
            </ion-label>
            <ion-input type="number" name="goles" [(ngModel)]="goles">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4.5">
          <ion-item >
            <ion-label position="floating">
              <ion-icon name="person-circle-outline"></ion-icon>
                Edad
            </ion-label>
            <ion-input type="number" name="edad" [(ngModel)]="edad">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4.5">
          <ion-item >
            <ion-select placeholder="Equipo" name="equipo" [(ngModel)]="equipo">
              <ion-select-option *ngFor="let item of lista" [value]="item._id">{{item.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <ion-button expand="block" strong=true (click)="insertar(jugadorForm)">AGREGAR 
            <ion-icon name="arrow-forward-sharp"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
